.navbar {
  width: 100%;
  height: 100px;
  background-color: #212428cc;
  backdrop-filter: blur(10px);
  position: sticky !important;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 4px 10px #00000033;
}
