/* Default to dark mode */
body.dark {
  --navbar-bg: #212428;
  --navbar-box-shadow: 0 4px 10px #00000033;
  --icon-bg: #4a4a4a63;
  --icon-hover-bg: #4a4a4a63;
}

/* Light mode styles */
body.light {
  --navbar-bg: #ffffff;
  --navbar-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  --icon-bg: #f0f0f0;
  --icon-hover-bg: #dcdcdc;
}

.navbar {
  width: 100%;
  height: 100px;
  background-color: var(--navbar-bg);
  backdrop-filter: blur(10px);
  position: sticky !important;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: var(--navbar-box-shadow);
}

.darkModeIcon img {
  width: 50px;
  height: 50px;
  padding: 13px;
  border-radius: 40%;
  cursor: pointer;
  transition: all 0.5s ease;
  background-color: var(--icon-bg); /* Use variable for background */
}

.darkModeIcon img:hover {
  background-color: var(
    --icon-hover-bg
  ); /* Use variable for hover background */
  border-radius: 50%;
}
